.credit-card-input-container {
  display: grid;
  gap: 10px;

  .input-container {
    position: relative;

    input {
      padding: 10px 10px 10px 2.5rem;
    }
    i {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
